---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">龙哥</span>
    <span class="gpt-subtitle">在线白搭</span>
  </div>
  <p mt-1 op-60>给你内心最深处的安慰</p>
</header>
